{% extends "base.html" %}

{% load static i18n %}
{% block css %}
{{ block.super }}
  <link href="{% static 'css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
<div class="right_col" role="main">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Classes</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <table id="classes-datatable" class="table table-striped table-bordered">
            <thead>
              <tr>
                <th></th>
                <th>Numero</th>
                <th>Departamento</th>
                <th>Faixa</th>
                <th>Professor</th>
                <th>Total de Alunos</th>
              </tr>
            </thead>

            <tbody>
              {% for classe in classes %}
                <tr>
                  <td><a type="button" class="btn btn-default" href="{% url 'classe-detail' pk=classe.pk %}" id="classe-details">Detalhes</a></td>
                  <td>{{ classe.numero }}</td>
                  <td>{{ classe.departamento.nome }}</td>
                  <td>{{ classe.get_faixa_display }}</td>
                  <td>{{ classe.professor.nome }}</td>
                  <td>{{ classe.qtd_alunos }}</td>
                </tr>
              {% endfor %}
            </tbody>

          </table>
        </div>
        <div>
          <a type="button" class="btn btn-primary" href="{% url 'classe_new' %}" id="nova-classe">Nova</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block javascript %}
{{ block.super }}
  <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
  <script src="{% static 'js/classes.js' %}"></script>
{% endblock javascript %}